{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body class="font-default bg-slate-100">
    <header>
        <!-- Блок главного меню -->
        {% block menu %}
        <nav class="w-full mb-5 bg-white border radius-sm">
            <ul class="flex ml-2 justify-between sm:justify-normal sm:gap-3 lg:ml-12 xl:ml-24">
                <li class="flex px-5 flex-col items-center justify-center">
                    <a href="{% url 'movies:index' %}">
                        <img src="{% static 'movies_app/images/logo.png' %}" class="w-8" alt="logo"/>
                    </a>
                </li>
                <li><a href="{% url 'movies:index' %}"
                        class="hidden sm:block text-slate-700 py-5 px-2 border-b-2 border-transparent hover:text-black hover:border-b-2 hover:border-indigo-500">Главная</a>
                </li>
                <li><a href="{% url 'movies:index' %}"
                        class="hidden sm:block text-slate-700 py-5 px-2 border-b-2 border-transparent hover:text-black hover:border-b-2 hover:border-indigo-500">Фильмы</a>
                </li>
                <li><a href="{% url 'movies:index' %}"
                        class="hidden sm:block text-slate-700 py-5 px-2 border-b-2 border-transparent hover:text-black hover:border-b-2 hover:border-indigo-500">Актеры</a>
                </li>
                <li><a href="{% url 'movies:index' %}" id="menu-btn"
                        class="block mr-5 sm:hidden text-slate-700 py-5 px-2 border-b-2 border-transparent hover:text-black hover:border-b-2 hover:border-indigo-500">Меню</a>
                </li>
            </ul>
            <div id="mobile-menu" class="hidden sm:hidden">mobile menu</div>
        </nav>
        {% endblock menu %}
        <!-- Конец блока главного меню -->
    </header>
    <main class="w-full">
        <!-- Блок контента -->
        {% block content %}
        {% endblock content %}
        <!-- Конец блока контента -->
    </main>
    <script src="{% static 'movies_app/scripts/script.js' %}"></script>
</body>

</html>