{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body class="font-default bg-slate-100">
    <!-- Header -->
    {% include 'movies_app/header.html' %}
    <main class="w-full mt-5 md:mt-20">
        <!-- Блок контента -->
        {% block content %}
        {% endblock content %}
        <!-- Конец блока контента -->
    </main>
    <script src="{% static 'movies_app/scripts/script.js' %}"></script>
</body>

</html>