{% load static %}

<!-- Блок главного меню -->
<header class="w-full text-sm bg-white/90 backdrop-blur-xl border-b radius-sm md:fixed md:top-0 md:left-0 md:right-0">
    <nav class="w-full sm:flex sm:justify-between">
        <ul class="flex ml-2 justify-between sm:justify-normal sm:gap-3 lg:ml-12 xl:ml-24">
            <li class="flex px-5 flex-col items-center justify-center">
                <a href="{% url 'movies:index' %}">
                    <img src="{% static 'movies_app/images/logo.png' %}" class="w-8" alt="logo"/>
                </a>
            </li>
            <li><a href="{% url 'movies:index' %}"
                    class="hidden sm:block text-slate-700 py-5 px-2 border-b-2 border-transparent hover:text-black hover:border-b-2 hover:border-indigo-500">Главная</a>
            </li>
            <li><a href="{% url 'movies:index' %}"
                    class="hidden sm:block text-slate-700 py-5 px-2 border-b-2 border-transparent hover:text-black hover:border-b-2 hover:border-indigo-500">Фильмы</a>
            </li>
            <li><a href="{% url 'movies:index' %}"
                    class="hidden sm:block text-slate-700 py-5 px-2 border-b-2 border-transparent hover:text-black hover:border-b-2 hover:border-indigo-500">Актеры</a>
            </li>
            <li><a href="{% url 'movies:index' %}" id="menu-btn"
                    class="block mr-5 sm:hidden text-slate-700 py-5 px-2 border-b-2 border-transparent hover:text-black hover:border-b-2 hover:border-indigo-500">Меню</a>
            </li>
        </ul>
        <div class="flex items-center">
            {% if user.is_authenticated %}
            <p class="hidden sm:block">Welcome,&nbsp;</p> 
            <a href="#" class="hidden mr-5 sm:block text-blue-500 hover:text-black hover:underline">
                {{ user.get_username }}
            </a>
            {% else %}
            <a href="{% url 'movies:login' %}" class="hidden mr-5 sm:block text-slate-700 py-5 px-2 border-b-2 border-transparent hover:text-black hover:border-b-2 hover:border-indigo-500">
                Войти
            </a>
            <a href="{% url 'movies:register' %}" class="hidden mr-5 sm:block text-slate-700 py-5 px-2 border-b-2 border-transparent hover:text-black hover:border-b-2 hover:border-indigo-500">
                Регистрация
            </a>
            {% endif %}
        </div>
        <div id="mobile-menu" class="hidden sm:hidden">mobile menu</div>
    </nav>
</header>
<!-- Конец блока главного меню -->