{% extends 'movies_app/base.html' %}

{% block title %}
Главная | Фильмы
{% endblock title %}

{% block content %}
<ul class="mx-5 flex flex-col text-base lg:w-4/6 sm:mx-24 md:mx-24 lg:mx-32 xl:mx-44 2xl:max-w-screen-2xl">
    {% for movie in page_obj %}
    <li class="mb-5">
        <div class="p-4 shadow rounded-sm bg-white flex flex-col justify-left gap-5">
            <div>
                <a href="{% url 'movies:movie-detail' movie.id %}"
                    class="block mb-1 text-lg text-blue-600 hover:text-blue-700">
                    {{ movie.movie_title }}
                </a>
                <hr>
            </div>
            <div class="flex flex-col gap-5 md:flex-row">
                <div class="flex justify-center md:w-1/3 2xl:w-auto">
                    {% if movie.image %}
                    <a href="{% url 'movies:movie-detail' movie.id %}">
                        <img src="{{ movie.image.url }}" alt="<{{ movie.movie_title }}.jpg>"
                            class="w-80 xl:w-72 2xl:max-w-none" />
                    </a>
                    {% else %}
                    <i>Poster is missing...</i>
                    {% endif %}
                </div>
                <div class="md:w-2/3 2xl:w-auto">
                    {% if movie.cast.all %}
                    <p>
                        <b>Cast:</b>
                            {% for actor in movie.cast.all|slice:'3' %}
                            <a href="{% url 'movies:actor-detail' actor.pk %}"
                                class="text-blue-600 hover:text-blue-700 hover:underline">{{ actor.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        
                    </p>
                    <br>
                    {% endif %}
                    <p class="font-base">
                        {{ movie.movie_description|truncatewords:50 }}
                        <a href="{% url 'movies:movie-detail' movie.id %}"
                            class="text-blue-600 hover:text-blue-700 hover:underline"><i>Read more</i></a>
                    </p>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
    {% include 'movies_app/paginator.html' %}
</ul>
{% endblock content %}